---
layout: layouts/base.njk
title: Home
---
<div class="frontpage">
  <div class="frontispiece-block">
    <img class="frontispiece" src="/assets/img/frontispiece.png" alt="" aria-hidden="true">
  </div>

  <h1 class="front-title">{{ site.title }}</h1>
  <p class="front-standfirst">{{ site.tagline }}</p>

  <div class="front-intro">
    <p>
    In this personal project, I am aiming to publish original and considered research notes pertaining to financial markets and, in doing so, learn more and 
    develop my skills. If you would like to learn more, you may visit the About section or read one of the published notes below.
 </p>
  </div>
</div>

<section class="front-latest">
  <h2 class="section-label">Latest</h2>
  <ul class="post-list">
    {%- for post in collections.research | published | reverse -%}
      {%- if loop.index <= 4 -%}
      <li>
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p class="post-meta">{{ post.date | readableDate }}</p>
        {%- if post.data.summary %}<p class="post-summary">{{ post.data.summary }}</p>{% endif -%}
      </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</section>
